<div class="tree-item">
  <a class="pointer" ng-click="toggle(this)" ng-if="item.children.length > 0">
    <i ng-class="{'fa fa-plus': collapsed, 'fa fa-minus': !collapsed}"></i>
  </a>
  <span ng-if="!item.children || item.children.length == 0">
    <i class="icon-doc"></i>
  </span>
  <span class="pointer" ng-class="{bold: item.children.length > 0}" ng-click="setItem(item)">
    {{item.label}}
  </span>
  <div class="handle-menu">
    <ul>
      <li>
        <a ui-tree-handle class="btn btn-sx btn-orange">
          <i class="fa fa-arrows"></i>
        </a>
      </li>
      <li>
        <a data-nodrag="" ng-click="newSubItem(this)" class="btn btn-sx btn-greensea">
          <i class="fa fa-plus"></i>
        </a>
      </li>
      <li>
        <a data-nodrag="" ng-click="remove(this)" class="btn btn-sx btn-red"><i class="fa fa-times"></i></a>
      </li>

    </ul>



  </div>
</div>
<ol ui-tree-nodes="" ng-model="item.children" ng-class="{hidden: collapsed}">
  <li ng-repeat="item in item.children" ui-tree-node ng-include="'views/includes/ui-tree/menues.html'" ng-class="{active:activeItem == item}">
  </li>
</ol>