<div id="listings" class="listing main" ng-class="">
  <section class="grid row {{listview}}" ng-model="items" as-sortable="dragControlListeners">
    <header class="top-bar pt-0 pl-15 pr-15">
      <h2 class="top-bar__headline">
        <button class="btn btn-greensea" ng-href="{{ $state.href(location, {id: 'new'})}}">
          <fa name="plus"></fa> Neuer {{name}}
        </button>
      </h2>
      <div class="filter">

        <!--<button class="btn btn-greensea btn-border">
          <fa name="search"></fa>
          <md-tooltip md-delay="1000">Suchen</md-tooltip>
        </button>-->
        <button class="btn btn-greensea btn-border" ng-class="{active: listview == ''}" ng-click="listview = ''">
          <fa name="square"></fa>
          <md-tooltip md-delay="1000">Blockansicht</md-tooltip>
        </button>
        <button class="btn btn-greensea btn-border" ng-class="{active: listview == 'table__view'}" ng-click="listview = 'table__view'">
          <fa name="bars"></fa>
          <md-tooltip md-delay="1000">Listenansicht</md-tooltip>
        </button>
      </div>
    </header>
    <div class="grid__item" ng-repeat="item in items" as-sortable-item>
      <div class="switcher">
        <md-switch class="md-primary" md-no-ink aria-label="Veröffentlicht" ng-model="item.is_online" ng-true-value="1" ng-false-value="0"></md-switch>
        <md-tooltip>
          <span ng-if="item.is_online">Online</span>
          <span ng-if="!item.is_online">Offline</span>
        </md-tooltip>
      </div>
      <h2 class="title title--preview"><a ng-href="{{ $state.href(location, {id: item[idfield]})}}">{{ item.title}}</a></h2>
      <div class="loader"></div>
      <span class="category">{{ item.categorie.name}}</span>
      <div class="meta meta--preview">
        <img class="meta__avatar" src="images/arnold-avatar.jpg" alt="author01" />
        <span class="meta__date"><i class="fa fa-calendar-o"></i>
          <span am-time-ago="item.created_at"></span>
        </span>
        <span class="meta__reading-time"><i class="fa fa-clock-o"></i>{{item.online_at | amCalendar}}</span>
      </div>
      <div class="menu">
        <a ng-href="{{ $state.href(location, {id: item.id})}}" class="icon icon-greensea icon-ef-3 icon-ef-3a hover-color"><i class="fa fa-pencil"></i>
          <md-tooltip md-delay="1000">Bearbeiten</md-tooltip>
        </a>
        <a class="icon icon-red icon-ef-3 icon-ef-3a hover-color"><i class="fa fa-times"></i>
          <md-tooltip md-delay="1000">Löschen</md-tooltip>
        </a>
        <a ng-if="canMove" class="icon icon-orange icon-ef-3 icon-ef-3a hover-color" as-sortable-item-handle><i class="fa fa-arrows"></i>
          <md-tooltip md-delay="1000">Verschieben</md-tooltip>
        </a>
        <!--<a class="icon icon-orange icon-ef-3 icon-ef-3a hover-color"><i class="fa fa-arrows"></i>
          <md-tooltip  md-delay="1000">Verschieben</md-tooltip>
        </a>-->
      </div>
    </div>
    <div class="grid__item new__button" style="font-size:4em; cursor:pointer;">
      <a ng-href="{{ $state.href(location, {id: 'new'})}}">
        <fa name="plus"></fa>
      </a>
    </div>
  </section>
</div>