<h6 class="custom-font">
  <strong>Typ</strong> Hilfe</h6>
<ul class="controls">
  <li class="remove"><a href ng-click="main.settings.helpbarShow = !main.settings.helpbarShow"><i class="fa fa-times"></i></a></li>
</ul>
<dl class="filled bg-blue dk">
  <dt>Seite</dt>
  <dd class="bg-blue">Eine Verlinkung zu einer Seite, welche im CMS definiert ist. </dd>
  <dt>Artikel </dt>
  <dd class="bg-blue">Ein Link zur einem bestimmten Artikel</dd>
  <dt>Arikel Kategorie</dt>
  <dd class="bg-blue">Unter dieser Verlinkung werden die Artikel einer gesamten Kategorie angzeigt. </dd>
  <dt>Link </dt>
  <dd class="bg-blue">Eine Verlinkung zur einer externen URL. Diese wird in einem neuen Fenster geöffnet</dd>
</dl>